@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family:'Raleway', sans-serif;
    margin:0;
    padding: 0;
}

header{
    text-align: center;
    border: 1px solid #ccc;
}

header h1 {
    text-transform: uppercase;
}

h1 a {
    text-decoration: none;
}

nav ul{
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 10px 20px;
}

nav li a {
    text-decoration: none;
    color: #555555;
}


nav li a:hover{
    color: black;
    font-weight: bold;
}

nav li a.active {
    font-weight: bold;
}

section#banner {
    background-image: url(../img/jane.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 71vh;

}

section#conception, section#songs{
    width: 900px;
    margin: 0 auto;
    margin-right: auto;
    overflow: hidden;
}

section#conception p {
    text-align: justify;
}

.imgSongs{
    width: 100%;
}

section#songs li strong{
    color:orange;
}

/* --- PAGINA CONTATO ---- */
section#contact, section#contatos {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

section#contact iframe{
    width: 450px;
    height: 450px;
    margin-left: 3px;
}

.mapa{
    width: 350px;
    height: 350px;
    padding-left: 30px;
}

.mapa iframe {
    width: 100%;
    height: 400px;
  }

form input[type='text']{
    width: 100%;
    height: 30px;
}

form textarea{
    width: 100%;
    resize: none;
}

form button{
    background-color: orangered;
    color: white;
    border: 0;
    width: 170px;
    height: 30px;
}

.form-group {
    margin:0 0 10px;
}

footer{
    width: 100%;
    float: left;
}

main#about {
    text-align: center;
    
}

main#music {
    width: 900px;
    max-width: 100%;

}

main#about cite{
    font-weight: bold;
}

main#about img{
    width: 350px;
    padding-bottom: 30px;
}

main#music h2{
    padding-left: 120px
}

main#music iframe{
    padding-left: 120px;
}

main#music ul {
    padding-left: 180px;
}

main#music p {
    padding-left: 120px;
}

.duas-colunas>div {
    width: 50%;
    float: left;
}


footer{
    background-color: #f2f2f2;
}

footer p{
    text-align: center;
    padding: 10px;
    margin: 0;
    
}

@media(max-width: 768px){
    
    section#banner {
        background-image: url(../img/jane.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
    }

    h2{
        font-size: 30px;
        text-align: center;
    }


    .duas-colunas>div {
        width: 100%;

    }

    .imgSongs{
        width: 50%;
    }
    
    section#conception, section#songs{
        /* width: 768px;
        margin: 0 auto; */
        padding: 40px
    }

    main#music {
        width: 900px;
        max-width: 100%;
        padding:0 40;        
    }

    /* main#music iframe{
        width: 100%;
    } */

    main#music ul li {
        font-size: 24px;
    }

    main#contact {
        width: 100%;
        padding: 0 40px;
    }

}